 .u-section-1 {
  background-image: url("images/topic-los-angeles-gettyimages-943489042-feature.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 534px;
}

.u-section-1 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 30px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 24px 30px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 24px 30px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 30px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 24px 30px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1500px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0;
}

.u-section-2 .u-image-1 {
  width: 356px;
  height: 313px;
  margin: 230px 0 0 auto;
}

.u-section-2 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: -515px auto 0;
}

.u-section-2 .u-image-2 {
  width: 267px;
  height: 350px;
  margin: -692px auto 60px -112px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1706px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 238px;
    margin-right: -247px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -560px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 246px;
    height: 255px;
    margin: -44px 0 0 auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2236px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 966px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1251px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3628px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 440px;
    margin-top: 9px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -27px;
    margin-bottom: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 581px;
}

.u-section-3 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/53287e43eab8ea90544b5f3d.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/death-rider-trailer.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Willie-Nelson-concert-USO-Ramstein-Air-Base-2005.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 529px;
}

.u-section-5 .u-list-1 {
  width: 996px;
  grid-template-rows: repeat(2, auto);
  height: auto;
  margin: 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 409px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 133px;
  height: 133px;
  background-image: url("images/image.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  margin: -132px 0 0 168px;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0 169px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 133px;
  height: 133px;
  background-image: url("images/image6.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: -132px 0 0 168px;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0 169px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 133px;
  height: 133px;
  background-image: url("images/image2.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: -132px 0 0 168px;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0 169px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -133px;
    margin-left: 113px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 113px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -133px;
    margin-left: 113px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 113px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -133px;
    margin-left: 113px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-left: 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: -105px;
    margin-left: 165px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: -105px;
    margin-left: 165px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-left: 30px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: -105px;
    margin-left: 165px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: -105px;
    margin-left: 165px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-left: 30px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-right: -105px;
    margin-left: 165px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: -105px;
    margin-left: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-5 .u-list-1 {
    width: 454px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 807px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    margin-left: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -125px;
    margin-right: -133px;
    margin-left: 153px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 8px;
    margin-right: -133px;
    margin-left: 153px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -125px;
    margin-right: -133px;
    margin-left: 153px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 8px;
    margin-right: -133px;
    margin-left: 153px;
  }

  .u-section-5 .u-image-3 {
    margin-left: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -125px;
    margin-right: -133px;
    margin-left: 153px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 8px;
    margin-right: -133px;
    margin-left: 153px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2107px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  width: 803px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 28px auto 0;
}

.u-section-6 .u-image-1 {
  width: 396px;
  height: 301px;
  margin: -735px 0 0 auto;
}

.u-section-6 .u-text-3 {
  width: 803px;
  background-image: none;
  font-weight: 400;
  margin: 522px auto 0;
}

.u-section-6 .u-text-4 {
  font-weight: bold;
  width: 803px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -417px auto 0;
}

.u-section-6 .u-text-5 {
  width: 803px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 356px auto 0;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  margin: -31px 88px 0 249px;
}

.u-section-6 .u-image-2 {
  width: 238px;
  height: 343px;
  margin: -282px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-6 {
    width: 803px;
    margin-left: 137px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2355px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    width: 297px;
    height: 226px;
    margin-top: -1248px;
    margin-right: 163px;
  }

  .u-section-6 .u-text-3 {
    width: 720px;
    margin-top: 1110px;
  }

  .u-section-6 .u-text-4 {
    width: 720px;
  }

  .u-section-6 .u-text-5 {
    width: 720px;
  }

  .u-section-6 .u-text-6 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 683px;
    height: 163px;
    margin-top: 28px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2321px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }

  .u-section-6 .u-text-4 {
    width: 540px;
  }

  .u-section-6 .u-text-5 {
    width: 540px;
  }

  .u-section-6 .u-text-6 {
    width: 540px;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 129px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 4490px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 336px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -2488px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 2275px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: -813px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 757px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: -36px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 81px;
    margin-top: 56px;
    margin-bottom: 26px;
    margin-left: -16px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 14908px;
}

.u-section-7 .u-image-1 {
  width: 130px;
  height: 417px;
  margin: 13796px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  width: 803px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -14153px calc(((100% - 1140px) / 2) + 168px) 0 calc(((100% - 1140px) / 2) + 169px);
}

.u-section-7 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px calc(((100% - 1140px) / 2) + 168px) 0 calc(((100% - 1140px) / 2) + 169px);
}

.u-section-7 .u-image-2 {
  width: 277px;
  height: 371px;
  margin: -14663px auto 0 0;
}

.u-section-7 .u-image-3 {
  width: 277px;
  height: 265px;
  margin: 12979px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 28957px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 28479px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-1 {
    margin-top: -28836px;
    margin-right: calc(((100% - 940px) / 2) + 68px);
    margin-left: calc(((100% - 940px) / 2) + 69px);
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 69px);
    margin-right: calc(((100% - 940px) / 2) + 68px);
  }

  .u-section-7 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 16693px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 15753px;
    margin-right: calc(((100% - 720px) / 2) + -115px);
  }

  .u-section-7 .u-text-1 {
    width: 720px;
    margin-top: -16110px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 267px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -16368px;
    margin-right: calc(((100% - 720px) / 2) + 83px);
    margin-left: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: 15875px;
    margin-left: auto;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 34589px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 34111px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-1 {
    width: 540px;
    margin-top: -34468px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 83px);
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 32106px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 37px;
    margin-right: calc(((100% - 340px) / 2) + -115px);
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    margin-top: -31432px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 394px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: -31809px;
    margin-right: calc(((100% - 340px) / 2) + 63px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-image-3 {
    margin-top: 31359px;
    margin-bottom: -30978px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1279px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  width: 803px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 0;
}

.u-section-8 .u-image-1 {
  width: 570px;
  height: 796px;
  margin: -1125px -106px 329px auto;
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-image-1 {
    width: 205px;
    height: 762px;
    margin-top: -1094px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1472px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    height: 761px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3000px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 512px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    margin-top: -2930px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1782px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  width: 803px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px 169px 0;
}

.u-section-9 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px 169px 0;
}

.u-section-9 .u-image-1 {
  width: 312px;
  height: 462px;
  margin: -672px auto 0 -156px;
}

.u-section-9 .u-text-3 {
  width: 803px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 248px auto 0;
}

.u-section-9 .u-text-4 {
  font-weight: 400;
  width: 803px;
  margin: 21px auto 0;
}

.u-section-9 .u-image-2 {
  width: 570px;
  height: 570px;
  margin: 21px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 69px;
    margin-right: 68px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2430px;
  }

  .u-section-9 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    margin-top: 5px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    margin-top: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2400px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-image-2 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2817px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 4px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 46px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-9 .u-image-2 {
    height: 340px;
    margin-top: 37px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}